{% extends 'base.html' %}
{% load bootstrap %}

{% block title%} SisDocNet {% endblock %}

{% block main%}

   <tabel>
       <tr>
           <td> <h5> Documentação de Ativos de Rede </h5> </td>
       </tr>
       <form method="post">
       <tr>
           <td>
               {% csrf_token %}
               {{ form|bootstrap_horizontal:'col-lg-9'  }} </td>
           <td><button type="submit" class="btn btn-info">Entrar</button></td>
       </tr>
       </form>
   </tabel>

      <br>

{% endblock %}